.gravatar img {
  border-radius: 4px;
}

.gravatar {
  padding-right: 10px!important;
}

p.commit-author {
  color: rgb(136, 136, 136);
  font-size: 12px;
}

p.commit-author .author {
  color: rgb(68, 68, 68);
}

button.commit-btn code {
  background-color: transparent;
}
