<div class="row">
  <div class="col-sm-12">
    <div class="list-group">
      <% 10.times do %>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Header</h4>
          <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        </a>
      <% end %>
    </div>
  </div>
</div>
