<div class="row">
  <div class="col-sm-12">
    <div class="list-group">
      <% deployments.each do |timestamp, data| %>
        <% data.merge!(commit(data['git_sha1'])) %>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">From: <%=h data['author']%></h4>
          <p class="list-group-item-text"><%=h data['message']%></p>
        </a>
      <% end %>
    </div>
  </div>
</div>
