<div class="row">
  <div class="col-sm-12">
    <div class="list-group">
      <% deployments.each do |timestamp, data| %>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading"><%=timestamp%></h4>
          <p class="list-group-item-text"><%=data['git_sha1']%></p>
        </a>
      <% end %>
    </div>
  </div>
</div>
